.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* CSS for Display component and for Related crasoules*/

@keyframes slideAnimationU {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}

.slideU {
  animation: slideAnimationU 200s linear infinite;
}

@keyframes slideAnimationD {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
  }
}

.slideD {
  animation: slideAnimationD 200s linear infinite;
}

@keyframes slideAnimationRL {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes slideAnimationLR {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

.slide {
  animation: slideAnimationRL 280s linear infinite;
}


.displayhead {
  font-size: 1.4vw;
  letter-spacing: 0.8px;
  margin-bottom: 2vw;
}

.display{
  font-size: 6.8vw;
  line-height: 7vw;
  font-weight: 500;
  color: #38393c;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 3px;
}

.displayd{
  font-size: 1.5vw;
  color: #000000;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.3px;
}

.displayr{
  font-size: 6.8vw;
  line-height: 7vw;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 3px;
  color: transparent;
  background: linear-gradient(to right, #ffffff, #186ff1 ,#186ff1 );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.displayslideRL {
  animation: slideAnimationRL 150s linear infinite;
}

.displayslideLR {
  animation: slideAnimationLR 150s linear infinite;
}

/* CSS for StartupDisplay */

.startdis{
  font-family: 'Montserrat', sans-serif;
  word-spacing: 2px;
  line-height: 3.2vw;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
